<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- <add key="nuget.org" value="https://www.nuget.org/api/v2/" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MercatoVSO" value="https://pkgs.dev.azure.com/knowledgekube/_packaging/Components/nuget/v3/index.json" />
    <add key="ProgoraCore" value="https://pkgs.dev.azure.com/progora/_packaging/Progora/nuget/v3/index.json" />
    <!-- <add key="Progora" value="https://progora.pkgs.visualstudio.com/_packaging/Progora/nuget/v3/index.json" /> -->
 </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
     <!-- Use the same packages directory for all solutions under here -->
     <!-- <add key="repositorypath" value="packages" /> -->
     <add key="repositorypath" value="src/.packages" />
   </config>
   <packageSourceCredentials>
	 <!-- changed on 20220404 -->
     <MercatoVSO>
       <add key="Username" value="knowledgekube" />
       <add key="ClearTextPassword" value="bezfyhdlvgvodojwqgaeustk3iufymmj3c5h7cyhfd5ruzczp4bq" />
     </MercatoVSO>
     <ProgoraCore>
       <add key="Username" value="knowledgekube" />
       <add key="ClearTextPassword" value="4oe7hisyuy3xlcjmsrxzoqivymyw3dqechmvcyuoddpfaz6wwctq" />
     </ProgoraCore>
   </packageSourceCredentials>
   <!-- 
   <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
   </disabledPackageSources>
   -->
</configuration>